.about__container {
  display: grid;
  grid-template-columns: 48% 50%;
  gap: 15%;
  position: relative;
  top: 8rem;
  overflow-x: hidden;
  /* background-color: var(--color-bg-variant); */
}

.about__cards {
  display: inline;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
}

.about__card {
  padding: 2rem 0;
  text-align: left;
}

.about__card h1 {
  font-size: 4rem;
}

.about__me .icon,
h3 {
  vertical-align: middle;
  display: inline-block;
}

.about__me h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  padding: 2rem 0;
}

.about__me p {
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.about__me a {
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .about__me h1 {
    font-size: 50px;
  }

  .about__me p {
    font-size: 17px;
  }

  .about__card h1 {
    font-size: 3rem;
  }

  .about__cards {
    position: relative;
    top: 10%;
  }
}

@media screen and (max-width: 426px) {
  .about__container {
    display: inline;
  }

  .about__me h1 {
    font-size: 25px;
  }

  .about__me p {
    font-size: 14px;
  }

  .about__me a {
    font-size: 1rem;
  }

  .about__cards {
    display: grid;
  }

  .about__card h1 {
    font-size: 2.5rem;
  }

  .about__card h2 {
    font-size: 1rem;
  }
}
